*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: rgb(183, 141, 246);
    
}
h1{
    margin: 30px;
    margin: 40px;
}
.res{
    margin: 40px;
    height: 30px;
    width: 60px;
}
.container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.box{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: white;
    
}
